    <!-- Placed in the flash messages for any errors -->
    <% errors.forEach(function(message){ %>
        <div class="alert alert-danger text-center"><%= message %></div>
    <% }) %>

    <!-- Placed in the flash messages for any errors -->
    <% success.forEach(function(message){ %>
        <div class="alert alert-success text-center"><%= message %></div>
    <% }) %>