<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div>
            <ul class="nav">
                <li class="item01">Link</li>
                <li class="item02">Link</li>
                <li class="item03">Link</li>
                <li class="item04">Link</li>
                <li class="item05"><strong>This is a test <em>MIke</em></strong></li>
            </ul>
        </div>
        <footer>
            <footer></footer>
        </footer>
    </body>
</html>
